*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {

    background-color: white;
    background-image: url('email-pattern.png');
    background-repeat: repeat;
}

.logo{

    color: floralwhite;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 5px;
    font-size: 30px;
    font-family: 'Mitr', sans-serif;
}    

nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    background-color: rgb(55, 199, 199);
}

.nav-links {

    display: flex;
    justify-content: space-around;
    width: 40%;

}

.nav-links li {

    list-style: none;
}

.nav-links a {

    color: lavender;
    text-decoration: none;
    letter-spacing: 3px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Mitr', sans-serif;
    padding: 5px;
    display: block;
    border-radius: 5%;

}

.nav-links a:hover {
    background: rgb(40, 99, 238);
    transition: 0,4s;
}

#carouselExampleIndicators {

  width: 1000px;
  margin-left: 270px;

}

#note10 {

  width: 300px;
  margin-left: 600px;
  margin-top: 150px;
}

#samsung_logo {

  width: 200px;
  margin-right: 200px;
  margin-top: -70px;
}

#iphone_black {

  width: 450px;
  margin-left: 500px;
  margin-top: 0px;
}

#apple_logo {

  width: 150px;
  margin-left: -50px;
  margin-top: -250px;
}

#contact-table {

    margin-left: 20px;
    margin-top: -360px;
}

.wrapper {

    display: flex;
    justify-content: space-between;
    margin-left: 350px;
    margin-top: 100px;

}

.box {

    width: 900px;
    height: 500px;
    border-radius: 1%;
    background-color: rgb(55, 199, 199);
    border: dimgray;

} 

h2 {

  font-family: 'Mitr', sans-serif;
  font-size: 25px;
  color: black;
  margin-top: 200px;
  margin-left: 650px;
}

h3 {

    font-family: 'Mitr', sans-serif;
    font-size: 50px;
    color: blanchedalmond;
    margin-left: 20px;
    margin-top: 20px;
}

h5 {

    font-family: 'Mitr', sans-serif;
    font-size: 15px;
    color: blanchedalmond;
    margin-left: 555px;
    margin-top: 315px;
}

tr td {

    font-family: 'Mitr', sans-serif;
    color: cornsilk;

}

.button {
  
  border: none;
  color: black;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  margin-left: 155px;
  margin-top: 20px;
-webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5%;
}

.button2 {
  background-color: rgb(40, 99, 238); 
  color: white; 
  border: 1px solid rgb(40, 99, 238);
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

#location {

  width: 50px;
  float: right;
  margin-right: -50px;
  margin-top: -270px;
}

#adress {

  float: right;
  font-family: 'Mitr', sans-serif;
  color: white;
  text-align: left;
  font-size: 11px;
  margin-top: -220px;
  margin-right: -130px;

}

#phone {

  color: bisque;
  width: 40px;
  float: right;
  margin-top: -150px;
  margin-right: -95px;
}

#service {

  color: bisque;
  width: 35px;
  float: right;
  margin-top: -150px;
  margin-right: -50px;
}

#phone-contact {

  color: white;
  font-family: 'Mitr', sans-serif;
  float: right;
  font-size: 11px;
  margin-right: -115px;
  margin-top: -100px;

}

.fa-facebook {
    padding: 20px;
    margin-right: 300px;
    margin-top: 0px;
    float: right;
    font-size: 20px;
    width: 60px;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: rgb(55, 199, 199);
    color: white;
  }

  .fa-twitter {
    padding: 20px;
    margin-right: -98px;
    margin-top: 0px;
    float: right;
    font-size: 20px;
    width: 60px;
    text-align: center;
    text-decoration: none;
  }

  .fa-twitter {
    background: rgb(55, 199, 199);
    color: white;
  }

  .fa-instagram {
    padding: 20px;
    margin-right: -140px;
    margin-top: 0px;
    float: right;
    font-size: 20px;
    width: 60px;
    text-align: center;
    text-decoration: none;
  }

  .fa-instagram {
    background: rgb(55, 199, 199);
    color: white;
  }

  .fa-linkedin {
    padding: 20px;
    margin-right: -185px;
    margin-top: 0px;
    float: right;
    font-size: 20px;
    width: 60px;
    text-align: center;
    text-decoration: none;
  }

  .fa-linkedin {
    background: rgb(55, 199, 199);
    color: white;
  }